:root {
  --color-white: #ffffff;
  --color-gray: #d4cfcf;
  --color-primary: #cca353;
  --color-primary-dark: #a7874b;
  --color-active: #f0c36c;
  --transition-time: 0.5s;
}

.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./background_search_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.SearchBarSortOptions ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: var(--color-white);
}

.SearchBarSortOptions li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid var(--color-white);
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color var(--transition-time);
  list-style: none;
}

.SearchBarSortOptions li:hover {
  color: var(--color-gray);
}

.SearchBarSortOptions li.active,
.SearchBarSortOptions li.active:hover {
  border-bottom: 1px solid var(--color-active);
  color: var(--color-active);
}

.SearchBarFields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBarFields input {
  width: 21rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  font-size: 0.77rem;
  font-weight: 500;
}

.SearchBarFields input:last-child {
  margin-right: 0;
}

.SearchBarSubmit {
  text-align: center;
}

.SearchBarSubmit a {
  border-radius: 4px;
  padding: 0.72rem 1.7rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  transition: background-color var(--transition-time);
}

.SearchBarSubmit a:hover {
  cursor: pointer;
  background-color: var(--color-primary-dark);
}

@media only screen and (max-width: 500px) {
  .SearchBar {
    background-image: url("./background_search_mobile.jpg");
  }

  .SearchBarSortOptions ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBarFields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBarFields input {
    margin-right: 0;
    margin-bottom: 0.86rem;
  }
}
